<p>
	<strong>Auteur :</strong>
	<%= commentaire.auteur %>
</p>
<p>
	<strong>Commentaire :</strong>
	<%= commentaire.corp %>
</p>
<p>
  <%= link_to 'Supprimer le commentaire', [commentaire.article, commentaire],
               method: :delete,
               data: { confirm: 'Êtes-vous sûr ?' } %>
</p>